#include "rsc.h"

RSC_TONER RSCT_IMG "gfx/toner.png"

RSC_ACC ACCELERATORS
{
	0x53, ACC_SAVE, VIRTKEY, CONTROL
	0x53, ACC_SAVEAS, VIRTKEY, CONTROL, SHIFT
	0x4F, ACC_OPEN, VIRTKEY, CONTROL
	0x45, ACC_EXPORT, VIRTKEY, CONTROL
	0x43, ACC_COPY, VIRTKEY, CONTROL
	0x56, ACC_PASTE, VIRTKEY, CONTROL
}